# Pastas compiladas do Maven
target/
*.jar
*.war

# Arquivos da IDE (IntelliJ, VS Code, Eclipse)
.idea/
.vscode/*
!.vscode/tasks.json
*.iml
.project
.classpath
.settings/

# Arquivos do SO
.DS_Store
Thumbs.db

# Arquivos de Variaveis de Ambiente
**/.env
