MONGO_URI=mongodb://localhost:27017/bovexo_nutrition_db_name
RABBITMQ_USERNAME=your_rabbitmq_username
RABBITMQ_PASSWORD=your_rabbitmq_password

SERVER_PORT=8083
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
FEED_COST_URL=http://localhost:8081
