DB_USERNAME=postgres
DB_PASSWORD=admin
DB_URL=jdbc:postgresql://localhost:5433/bovexo_auth

SERVER_PORT=8084

JWT_SECRET=sua_chave_secreta_jwt_aqui
JWT_EXPIRATION=86400000

SEEDER_ADMIN_USERNAME=your_admin_username
SEEDER_ADMIN_PASSWORD=your_admin_password

SEEDER_GUEST_USERNAME=your_guest_username
SEEDER_GUEST_PASSWORD=your_guest_password

SEEDER_NUTRITION_USERNAME=your_nutrition_analysis_username
SEEDER_NUTRITION_PASSWORD=your_nutrition_analysis_password