DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
RABBITMQ_USERNAME=your_rabbitmq_username
RABBITMQ_PASSWORD=your_rabbitmq_password

SERVER_PORT=8082
DB_URL=jdbc:postgresql://localhost:5433/bovexo_management
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
