DB_USERNAME=seu_usuario_aqui
DB_PASSWORD=sua_senha_aqui
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

SERVER_PORT=8082
DB_URL=jdbc:postgresql://localhost:5433/bovexo_management
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

JWT_SECRET=sua_chave_secreta_jwt_aqui