DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

SERVER_PORT=8081
DB_URL=jdbc:postgresql://localhost:5433/bovexo_cost

JWT_SECRET=sua_chave_secreta_jwt_aqui
JWT_EXPIRATION=86400000